<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" 
               strict="true" 
               name="XMLConfig"
               packages="ca.adsdata"
>
  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout" 
              pattern="[%-level] App Challenge [class: %C | method: %M | line: %L] - %d{HH:mm:ss.SSS} : %msg%n%throwable"
      />
    </Appender>
  </Appenders>
  
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>