<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <style>
        body { padding-top: 70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="starter-template">
        <h1>Welcome!</h1>
    </div>
</div>
</body>
</html>